@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #BCC0C4;
  border-radius: 10px;
  height: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
